.header-title .hint{
    font-size: 12px;
}
.header-title small {
    display: block;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.7;
    color: inherit;
    padding-top: 10px;
}
.card-title {
    font-family: Roboto,sans-serif;
    font-weight: 10;
    /*line-height: 1.5;*/
    margin-bottom: 0;
    padding: 10px 15px;
    /*border-bottom: 1px solid rgba(77,82,89,0.07);*/
}
.accordion .card-title a {
    display: block;
    letter-spacing: 1px;
    padding-left: 33px;
    text-decoration: none;
}
.supportblock{
    box-sizing: border-box;
    padding: 10px;
}
.card-title a {
    color: #313944;
}.accordion .card-title a.collapsed::before {
    -webkit-transform: rotate(
180deg
);
    transform: rotate(
180deg
);
}

.supporttab::before {
  content: "\e60a";
    display: inline-block;
    font-family: themify;
    font-size: 12px;
    margin-right: 20px;
    margin-left: -33px;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
.dropdown-toggle::after {
    margin-left: .5em;
    vertical-align: .12em;
}
  .imagepre {
        height: 205px;
      width: 447px;
    }
