
.step-prev {
  background-color: #4e73df;
  border-color: #4e73df;
  box-shadow: 2px 2px 3px 0px rgb(50 50 50 / 50%);
}
.step-prev:hover {
  background: #4e73df;
  border-color: #398439;
}
.step-next
{
  position: absolute;
  right: 1%;
  background-color: #4e73df;
  border-color: #4e73df;
  box-shadow: 2px 2px 3px 0px rgb(50 50 50 / 50%);
}
.step-next:hover {
  background: #4e73df;
  border-color: #398439;
}
.step-title
{
  display: inline-block;
}
.stepper-steps
{
  display: flex;
    list-style: none;
}
.step-nmbr {
  color: white;
  background: #1d93d1;
  border: 1px solid #1d93d1;
  text-decoration: none;
}
span {
  font-weight: bold;
}
.step-nmbr {
  display: block;
  margin: 8px auto 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  color: #1d93d1;
  background: #f2f2f2;
  line-height: 25px;
  border: 1px solid #1d93d1;
  position: relative;
  z-index: 2;
}

/* -------------------------------- form css--------------------------*/
.ligin-form
{
   margin-left:0%;
}
.text
{
  border-bottom: 1px solid #858796;
}
